<h1 class="text-center my-5">Welcome to Question Answer Game</h1>

<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="question-tab" data-toggle="tab" href="#question" role="tab" aria-controls="question" aria-selected="true">Question</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="scoreboard-tab" data-toggle="tab" href="#scoreboard" role="tab" aria-controls="scoreboard" aria-selected="false">Scoreboard</a>
  </li>
</ul>

<div class="tab-content" id="myTabContent">
  <% Question tab %>
  <div class="tab-pane show active" id="question" role="tabpanel" aria-labelledby="question-tab">
    <table class="table table-responsive table-striped">
      <thead>
      <tr>
        <th>Tag</th>
        <th>Description</th>
      </tr>
      </thead>

      <tbody>
      <% @questions.each do |question| %>
        <tr>
          <td><%= question.tag %></td>
          <td><%= question.description %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>

  <% Scoreboard tab %>
  <div class="tab-pane fade" id="scoreboard" role="tabpanel" aria-labelledby="scoreboard-tab">
    <table class="table table-responsive table-striped">
      <thead>
      <tr>
        <th>Name</th>
        <th>Score</th>
      </tr>
      </thead>

      <tbody>
      <% @scoreboard.each do |record| %>
        <tr>
          <td><%= record.name %></td>
          <td><%= record.score %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>